<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>user</role-name>
    </security-role>
    <security-role-mapping>
        <role-name>user</role-name>
        <group-name>user</group-name>
    </security-role-mapping>
    <security-role-mapping>
        <role-name>admin</role-name>
        <group-name>admin</group-name>
    </security-role-mapping> 
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <servlet>
        <servlet-name>rankingService</servlet-name>
        <servlet-class>com.example.webservice</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetBeansServlet</servlet-name>
        <servlet-class>com.example.servlets.GetBeansServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rankingService</servlet-name>
        <url-pattern>/rankingService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainWordServlet</servlet-name>
        <servlet-class>com.example.servlets.MainWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainWordServlet</servlet-name>
        <url-pattern>/mainWord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminWordsServlet</servlet-name>
        <servlet-class>com.example.servlets.AdminWordsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminWordsServlet</servlet-name>
        <url-pattern>/adminWords</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MaintoAdminWordsServlet</servlet-name>
        <servlet-class>com.example.servlets.MaintoAdminWordsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintoAdminWordsServlet</servlet-name>
        <url-pattern>/maintoAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManageServlet</servlet-name>
        <servlet-class>com.example.servlets.UserManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/usermanage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.example.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainToRankingServlet</servlet-name>
        <servlet-class>com.example.servlets.MainToRankingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainToRankingServlet</servlet-name>
        <url-pattern>/maintoranking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBeansServlet</servlet-name>
        <url-pattern>/GetBeansServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
